# Django
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
dist/
build/
*.exe

# Django development server
*.log

# Database
*.sqlite3
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Secret key
*.secret

# Visual Studio Code
.vscode/

# PyCharm
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints/

# Local development settings
local_settings.py
